{{define "body"}}
    <div id="page-container">
        <p id="authenticated">
            Authenticated as <span class="name">{{.User.Name}}</span> (<span class="login">@{{.User.Login}}</span>), <a
                    href="/auth/logout">sign out</a>.
        </p>

        <form id="app" method="POST" action="/auth/submit" @submit="checkForm">
            <div v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul class="errors">
                    <li class="error" v-for="error in errors">[[ error ]]</li>
                    </ulc>
            </div>
            <div class="search-wrapper">
                <input class="repository" type="text" v-model="search" placeholder="Search name, organization, url.."/>
                <button type="button" v-on:click="clear()">Clear</button>
            </div>
            <div class="container" v-for="post in filteredList.slice(0,20)" @change="onChange($event)">
                <input type="radio" name="repository" v-model="selectedRepository" :value="post.full_name">[[
                post.full_name ]]</input>
            </div>
            <div v-if="showTeams">
                <div class="container" v-for="team in teamList">
                    <input type="checkbox" name="team[]" v-model="selectedTeams" :value="team.slug">
                    @[[organization]]/[[ team.name ]]
                    </input>
                </div>
            </div>
            <div v-if="loading" v-cloak>
                <div id="repository-spinner">
                    <p>[[ status ]]</p>
                    <div class="spinner"></div>
                </div>
            </div>
            <div v-if="readyToSubmit">
                <button class="submit" type="submit" value="Submit">submit</button>
            </div>
        </form>
    </div>

    <script src="/assets/js/site.js">

    </script>
{{end}}
