<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{block "title" .}}NAV deployment{{end}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/axios.min.js"></script>
</head>

<body>
    <header>
        <img id="nais-logo" src="/assets/images/nais_logo_blue_circle.png">
        <h1>NAIS deployment</h1>
    </header>
    <main>
        {{template "body" .}}
    </main>
    <footer>
        <p>Project available at <a href="https://github.com/navikt/deployment">GitHub</a></p>
    </footer>
</body>

</html>
