dependencies:
  - allOf:
      - teams-backend
environmentKinds:
  - management
values:
  database.encryptionKey:
    description: Database encryption key used to encrypt deploy api keys
    computed:
      template: '"{{.Management.hookd_database_encryption_key}}"'
  database.instance:
    displayName: Database instance
    computed:
      template: '"{{.Management.hookd_database_instance}}"'
  database.name:
    displayName: Database name
    computed:
      template: '"{{.Management.hookd_database_name}}"'
  database.user:
    displayName: Database user
    computed:
      template: '"{{.Management.hookd_database_user}}"'
  googleClusterProjects:
    description: Mapping from cluster name to google project ('cluster1=project1,cluster2=project2')
    displayName: Google Cluster Projects
    computed:
      template: '"{{ mapOf "name" "project_id" .Envs | mapJoin "=" | join "," }}"'
  googleServiceAccountEmail:
    description: The service account email that is used to access the postgres-database, set up by terraform.
    displayName: Google service account
    computed:
      template: '"{{.Management.hookd_google_service_account_email}}"'
  image.imagePullPolicy:
    config:
      type: string
  image.repository:
    config:
      type: string
  image.tag:
    config:
      type: string
  logLinkFormatter:
    config:
      type: string
  provisionKey:
    computed:
      template: '"{{.Management.hookd_provision_key}}"'
  deploydPreSharedKeys:
    computed:
      template: '"{{ eachOf .Envs "deployd_pre_shared_key" | join "," }}"'
  googleClient.id:
    description: Google OAuth 2.0 Client ID, see https://handbook.nais.io/technical/tenant-setup/#set-up-oauth-client
    config:
      type: string
  googleClient.secret:
    description: Google OAuth 2.0 Client Secret, see https://handbook.nais.io/technical/tenant-setup/#set-up-oauth-client
    config:
      type: string
      secret: true
  ingress.host:
    displayName: Ingress URL
    computed:
      template: '"{{ subdomain . "deploy" }}"'
  teamsAPIKey:
    displayName: "teams api key"
    computed:
      template: "{{.Management.hookd_teams_api_key | quote}}"
    description: "API key used for teams integration"
  frontendPreSharedKey:
    displayName: "console-backend pre-shared key"
    computed:
      template: "{{.Management.hookd_frontend_pre_shared_key | quote}}"
    description: "The pre-shared key used to authenticate the console-backend"
