# Default values for hookd.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

ingress:
  host: "" # mapped by fasit
  className: "nais-ingress-external"

deploydPreSharedKeys: # mapped by fasit

logLinkFormatter: "GCP"
otelExporterOtlpEndpoint: # mapped by fasit
googleServiceAccountName: # mapped by fasit
googleClusterProjects: # mapped by fasit
provisionKey: # mapped by fasit
database:
  name: # mapped by fasit
  user: # mapped by fasit
  instance: # mapped by fasit
  encryptionKey: # mapped by fasit
securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1069

resources:
  limits:
    memory: 1024Mi
  requests:
    cpu: 100m
    memory: 128Mi

image:
  repository: europe-north1-docker.pkg.dev/nais-io/nais/images/hookd
  pullPolicy: IfNotPresent
  tag: latest

frontendPreSharedKey: # mapped by fasit

imagePullSecrets: []

naisAPI:
  address: "nais-api:3001"
  insecureConnection: "false"

clusterMigrationRedirect: