name: Deploy Naisjob (no schedule)
on:
  workflow_dispatch:
    inputs:
      cluster:
        description: "Cluster to deploy to"
        default: "ci-fss"
        required: false
        type: string

jobs:
  deploy:
    name: Deploy to NAIS
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: deploy to ${{ github.event.inputs.cluster }}
      uses: nais/deploy/actions/deploy@v2
      env:
        CLUSTER: ${{ github.event.inputs.cluster }}
        RESOURCE: testdata/naisjob-without-schedule.yaml
